#navee{
    background-color:#2d464c
    
}
a{
    color:#D0D5D7;
    font-family: Arial, sans-serif;   
}
a i{
    color:#2D464C;
    padding: 10px;
    background-color: #92cace;
    border-radius: 50%;
    margin-right: 10px;
}